argcomplete==1.8.2
backports.csv==1.0.6
backports.functools-lru-cache==1.5
beautifulsoup4==4.5.3
certifi==2018.8.24
chardet==2.3.0
cheroot==6.4.0
CherryPy==17.3.0
contextlib2==0.5.5
docx2txt==0.6
EbookLib==0.15
feedparser==5.2.1
future==0.16.0
idna==2.7
jaraco.functools==1.20
langdetect==1.0.7
langid==1.1.6
lxml==4.2.4
more-itertools==4.3.0
mysqlclient==1.3.13
nltk==3.3
numpy==1.15.1
Pattern==3.6
pdfminer.six==20170720
Pillow==5.2.0
pkg-resources==0.0.0
pocketsphinx==0.1.3
portend==2.3
pycld2==0.31
pycryptodome==3.6.6
python-docx==0.8.7
python-pptx==0.6.5
pytz==2018.5
requests==2.19.1
scipy==1.1.0
six==1.10.0
SpeechRecognition==3.6.3
tempora==1.13
textract==1.6.1
urllib3==1.23
xlrd==1.0.0
XlsxWriter==1.0.9
zc.lockfile==1.3.0
