backports.functools-lru-cache==1.5
boto==2.49.0
boto3==1.9.109
botocore==1.12.109
bottle==0.12.16
bz2file==0.98
certifi==2018.11.29
chardet==3.0.4
cheroot==6.5.4
CherryPy==18.1.0
docutils==0.14
gensim==3.7.1
idna==2.8
jaraco.functools==2.0
jmespath==0.9.4
more-itertools==6.0.0
nltk==3.4
numpy==1.16.2
pkg-resources==0.0.0
portend==2.3
pymongo==3.7.2
python-dateutil==2.8.0
pytz==2018.9
requests==2.21.0
s3transfer==0.2.0
scipy==1.2.1
singledispatch==3.4.0.3
six==1.12.0
smart-open==1.8.0
tempora==1.14
urllib3==1.24.1
ws4py==0.5.1
zc.lockfile==1.4
